{% extends 'base.html.twig' %}

{% block title %}Mission Index{% endblock %}

{% block body %}
    
<div class="container mt-5">
    <h1>Mission</h1>
    <a href="{{ path('app_mission_new') }}" class="btn btn-primary">Create New Mission</a>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Status mission</th>
                <th>Début mission</th>
                <th>Fin mIssion</th>
                <th>Lieu</th>
                <th>Niveau de danger</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.titre }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.status ? mission.status.value : '' }}</td>
                <td>{{ mission.startAt ? mission.startAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.endAt ? mission.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ mission.location }}</td>
                <td>{{ mission.dangerLevel }}</td>
                <td>
                    <a href="{{ path('app_mission_edit', {'id': mission.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
